<nav *ngIf="userService.showNavBar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Team A & C Communications</a>
    <ul class="nav navbar-nav">


      <!--------------Shows If User is Not logged in--------->
      <div *ngIf="!userService.userIsAuthenticated">
        <button class="btn btn-outline-light my-2 my-sm-0" type = "button" (click)="userService.updateLoginUserModal()">Login</button>
        <button class="btn btn-outline-light my-2 my-sm-0 newUserButton" type="submit" (click)="userService.updateNewUserModal()">New User</button>
      </div>

      <!------------Shows if User is Logged in----------->
      <div *ngIf="userService.userIsAuthenticated">
        <a class="navbar-brand navbar-right" href="#">
          Welcome {{authenticatedUser.username}}
        </a>
        <button class="btn btn-outline-light my-2 my-sm-0 logOutButton" type="submit" (click)="onLogOut()">Log Out</button>
      </div>
    </ul>
  </div>
</nav>



<!-------Error Creating User------------>
<!--<div id="ErrorCreatingUser" class="modal" *ngIf="userService.showErrorCreatingUser">-->
<!--  <div class="modal-content">-->
<!--    <h2>There was an error creating the user.  Please try again.</h2>-->
<!--    <button class="btn btn-outline-success my-2 my-sm-0" id="closeErrorModal" type="submit"  (click)= "userService.updateShowErrorCreatingUser()">Close</button>-->
<!--  </div>-->
<!--</div>-->









<!--CREATE USER MODAL-->

<div id="CreateUserModal" class="modal" *ngIf="userService.newUserModal">
  <div class="modal-content">
    <h2>Create New User</h2>
    <input #createUserNameField class="form-control mr-sm-2 loginField" id="usernameForm" type="search"  placeholder="Username" [(ngModel)]="userService.userToCreate.username">
    <a class="clear" (click)="userService.userToCreate.username=null">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <input #createPasswordField class="form-control mr-sm-2 loginField" id="passwordForm" type="search" placeholder="Password" [(ngModel)]="userService.userToCreate.password">
    <a class="clear" (click)="userService.userToCreate.password=null">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <button class="btn btn-outline-success my-2 my-sm-0" id="submitCreateBtn" type="submit"  (click)= "onCreateUser()">Submit</button>
    <button class="btn btn-outline-danger my-2 my-sm-0" id="exitCreateBtn" type="submit" (click)=userService.updateNewUserModal()>Exit</button>
  </div>
</div>



<!--------LOGIN MODAL------->


<div id="LoginUserModal" class="modal" *ngIf="userService.loginUserModal">
  <div class="modal-content">
    <h2>Login</h2>
    <input #loginUserNameField class="form-control mr-sm-2 loginField" id="LoginusernameForm" type="search"  placeholder="Username" [(ngModel)]="userService.userToAuthenticate.username">
    <a class="clear" (click)="userService.userToAuthenticate.username">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <input #loginPasswordField class="form-control mr-sm-2 loginField" id="LoginpasswordForm" type="search" placeholder="Password" [(ngModel)]="userService.userToAuthenticate.password">
    <a class="clear" (click)="userService.userToAuthenticate.password=null">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <button class="btn btn-outline-success my-2 my-sm-0" id="submitLoginBtn" type="submit"  (click)= "onLogin()">Submit</button>
    <button class="btn btn-outline-danger my-2 my-sm-0" id="exitLoginBtn" type="submit" (click)=userService.updateLoginUserModal()>Exit</button>
  </div>
</div>
