
<table class="mychannellist" mdbTable mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
  <thead class ="table-dark bg-dark">
    <h6 >Channels</h6>
  </thead>
  <tbody>
    <ul class="channellist">

      <tr *ngFor="let channel of defaultChannels"
        [class.selected]="channel === selectedChannel"
        (click)="onChannelSelect(channel)"><span class="badge">{{channel.name | uppercase}}</span>
      </tr>
      <div *ngIf="this.userService.authenticatedUser!=null">
        <tr *ngFor="let channel of channelService.getStandardChannelsUser(this.userService.authenticatedUser)"
            [class.selected]="channel === selectedChannel"
            (click)="onChannelSelect(channel)"><span class="badge">{{channel.name | uppercase}}</span>
        </tr>
      </div>
    </ul>
  </tbody>
</table>
