
.container{
  border: 2px solid #dedede;
  /*background-color: darkslategray;*/
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 10px;
}

.table th{
  background-color: darkslategray;
}

.table-scroll thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-scroll tbody {
  max-height: 150px;
  overflow-y: auto;
  display: block;
  width: 100%;
  table-layout: fixed;
}

.table-scroll tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table-scroll td {
  height: 47px;
}
