

  <app-loginbar #loginbarComponent (updateMessageComponents)="messageComposeComponent.updateUserAndLoginStatus(loginbarComponent.userReturned);
    channelListComponent.logIn(); channelListComponent.findChannelsByUser(loginbarComponent.userReturned)"
                (userLogOut)="messageComposeComponent.logOut(); channelListComponent.logOut()">
  </app-loginbar>


<table width="100%">
  <tr>
    <td class="align-top" width="30%" style="padding-top:70px;padding-left:15px">
      <app-channellist
        #channelListComponent (updateOtherModules)="messageListComponent.updateSelectedChannel(channelListComponent.selectedChannel.id);
          messageComposeComponent.updateChannelNumber(channelListComponent.selectedChannel.id)">
      </app-channellist>
    </td>
    <td class = "alight-top" width="70%" >
      <app-message-list #messageListComponent style="float: right; width: 100%">

      </app-message-list>
    </td>
  </tr>
</table>
<app-message-compose  #messageComposeComponent (updateMessages)="messageListComponent.updateMessageList()"></app-message-compose>


