<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<app-loginbar #loginbarComponent (updateMessageComponents)="messageComposeComponent.updateUserAndLoginStatus(loginbarComponent.userReturned)"></app-loginbar>
<table width="100%">
  <tr>
    <td class="align-top" width="30%" style="padding-top:70px;padding-left:15px"><app-channellist
      #channelListComponent (updateOtherModules)="messageListComponent.updateSelectedChannel(channelListComponent.selectedChannel.id);
        messageComposeComponent.updateChannelNumber(channelListComponent.selectedChannel.id)"></app-channellist></td>
    <td width="70%"><app-message-list #messageListComponent style="overflow: scroll"></app-message-list></td>
  </tr>
</table>
<app-message-compose  #messageComposeComponent (updateMessages)="messageListComponent.updateMessageList()"></app-message-compose>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

