
<!--The content below is only a placeholder and can be replaced.-->
<div class ="image">
<app-message-list [authenticatedUser]="authenticatedUser" [selectedChannel]="selectedChannel"></app-message-list>
<app-message-compose [authenticatedUser]="authenticatedUser" [selectedChannel]="selectedChannel"></app-message-compose>
<app-loginbar [authenticatedUser]="authenticatedUser" [selectedChannel]="selectedChannel"></app-loginbar>
<app-channellisttop [authenticatedUser]="authenticatedUser" [selectedChannel]="selectedChannel"></app-channellisttop>
<app-userlist [authenticatedUser]="authenticatedUser" [selectedChannel]="selectedChannel"></app-userlist>
</div>
